<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.llback.dal.article.dao.ArticleDao">

    <insert id="addArticle" parameterType="com.llback.dal.article.po.ArticlePo">
        INSERT INTO article (id, title, create_time, delete_status)
        VALUES (#{articleId}, #{title}, now(), '1')
    </insert>

    <insert id="addArticleContent" parameterType="com.llback.dal.article.po.ArticlePo">
        INSERT INTO article_content (pk_id, article_id, craft, content)
        VALUES (#{contentId}, #{articleId}, #{craft}, #{content})
    </insert>

    <select id="countArticle" resultType="Integer">
        SELECT count(0)
        FROM article w
        WHERE w.delete_status = '1'
    </select>

    <!-- 查询文章列表 -->
    <select id="listArticle" resultType="com.llback.dal.article.po.ArticlePo">
        SELECT
            PK_ID,
            TITLE,
            CREATE_TIME,
            UPDATE_TIME
        FROM
            ARTICLE
        WHERE
            IS_DEL = '0'
        ORDER BY CREATE_TIME DESC
    </select>

    <!-- 根据id查询文章 -->
    <select id="getArticleById" resultType="com.llback.dal.article.po.ArticleContentPo">
        SELECT
            T2.PK_ID ,
            T1.TITLE ,
            T2.CONTENT
        FROM
            ARTICLE T1
        LEFT JOIN ARTICLE_CONTENT T2 ON T1.PK_ID = T2.ARTICLE_ID
        WHERE T1.PK_ID = #{articleId}
          AND T2.CRAFT = #{craft}
    </select>

    <update id="updateArticleBaseInfo" parameterType="com.llback.dal.article.po.ArticlePo">
        UPDATE article
        SET title = #{title}
        WHERE id = #{articleId}
    </update>

    <!-- 更新文章内容 -->
    <update id="updateArticleContent" parameterType="com.llback.dal.article.po.ArticlePo">
        UPDATE article_content
        SET content = #{content}
        WHERE ARTICLE_ID = #{articleId}
          AND CRAFT = #{craft}
    </update>

    <!-- 删除文章 -->
    <update id="removeArticle">
        UPDATE article
        SET delete_status = '0'
        WHERE id = #{articleId}
    </update>

</mapper>
