<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.llback.dal.file.dao.FileDao">
    <!-- 文件信息持久化 -->
    <insert id="addFile" parameterType="com.llback.dal.file.po.FilePo">
        INSERT INTO FILE_INFO (PK_ID, `PATH`, FILE_NAME, CREATE_TIME)
        VALUES (#{pkId}, #{path}, #{fileName}, #{createTime})
    </insert>

    <!-- 根据文件id获取文件信息 -->
    <select id="getFileById" resultType="com.llback.dal.file.po.FilePo">
        SELECT PK_ID, PATH, FILE_NAME, CREATE_TIME
        FROM FILE_INFO
        WHERE PK_ID = #{fileId}
    </select>
</mapper>