<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.FileDao">
    <!-- 文件信息持久化 -->
    <insert id="saveFileId">
        insert into file_info(pk_id, ftp_path, full_path, file_name)
        values (#{uuid}, #{ftpPath}, #{fullPath}, #{fileName})
    </insert>

    <!-- 根据文件id获取文件信息 -->
    <select id="getFileById" resultType="com.heeexy.example.dto.resp.FileInfo">
        SELECT PK_ID, FTP_PATH, FULL_PATH, FILE_NAME
        FROM FILE_INFO
        WHERE PK_ID = #{fileId}
    </select>
</mapper>
