<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.llback.dal.perm.dao.PermDao">
    <!-- 添加权限 -->
    <insert id="addPermission">
        INSERT INTO SYS_PERMISSION (PERM_ID, PERM_CODE, PERM_NAME, TYPE)
        VALUES (UUID32(), #{permCode}, #{permName}, #{type})
    </insert>

    <!-- 获取用户权限列表 -->
    <select id="queryUserPerms" parameterType="string" resultType="com.llback.dal.perm.po.PermissionPo">
        SELECT T2.PERM_ID,
               T2.PERM_CODE,
               T2.PERM_NAME,
               T2.TYPE
        FROM USER_PERMISSION T1
                 LEFT JOIN SYS_PERMISSION T2 ON
            T1.PERM_ID = T2.PERM_ID
        WHERE T1.USER_ID = #{userId}
          AND T2.PERM_ID IS NOT NULL
    </select>

    <!-- 获取所有权限列表 -->
    <select id="queryAllPermission" resultType="com.llback.dal.perm.po.PermissionPo">
        SELECT
            PERM_ID,
            PERM_CODE,
            PERM_NAME,
            `TYPE`
        FROM
            SYS_PERMISSION
    </select>

    <!-- 获取权限数量 -->
    <select id="getPermCodeCount" resultType="java.lang.Integer">
        SELECT
            count(0)
        FROM
            SYS_PERMISSION
        WHERE
            PERM_CODE = #{permCode}
    </select>

    <!-- 更新权限 -->
    <update id="updatePermission">
        UPDATE SYS_PERMISSION
        SET PERM_CODE = #{permCode},
            PERM_NAME = #{permName},
            TYPE = #{type}
        WHERE PERM_ID = #{permId}
    </update>

    <!-- 删除权限 -->
    <delete id="deletePermission">
        DELETE FROM SYS_PERMISSION
        WHERE PERM_ID = #{permId}
    </delete>

    <!-- 删除用户权限关联 -->
    <delete id="deleteUserPermissions">
        DELETE FROM USER_PERMISSION
        WHERE PERM_ID = #{permId}
    </delete>

    <!-- 分页查询权限列表 -->
    <select id="queryPermPage" resultType="com.llback.dal.perm.po.PermissionPo">
        SELECT PERM_ID, PERM_CODE, PERM_NAME, `TYPE`
        FROM SYS_PERMISSION
        <where>
            <if test="permType != null and permType != ''">
                AND `TYPE` = #{permType}
            </if>
        </where>
        ORDER BY TYPE, PERM_ID
    </select>
</mapper>
