<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.llback.dal.perm.dao.PermDao">
    <!-- 添加权限 -->
    <insert id="addPermission">
        INSERT INTO SYS_PERMISSION (PERM_ID, PERM_CODE, PERM_NAME, TYPE)
        VALUES (UUID32(), #{permCode}, #{permName}, #{type})
    </insert>

    <!-- 获取用户权限列表 -->
    <select id="queryUserPerms" parameterType="string" resultType="com.llback.dal.perm.po.PermissionPo">
        SELECT T2.PERM_ID,
               T2.PERM_CODE,
               T2.PERM_NAME,
               T2.TYPE
        FROM USER_PERMISSION T1
                 LEFT JOIN SYS_PERMISSION T2 ON
            T1.PERM_ID = T2.PERM_ID
        WHERE T1.USER_ID = #{userId}
          AND T2.PERM_ID IS NOT NULL
    </select>

    <!-- 获取所有权限列表 -->
    <select id="queryAllPermmission" resultType="com.llback.dal.perm.po.PermissionPo">
        SELECT
            PERM_ID,
            PERM_CODE,
            PERM_NAME,
            `TYPE`
        FROM
            SYS_PERMISSION
    </select>

    <!-- 获取权限数量 -->
    <select id="getPermCodeCount" resultType="java.lang.Integer">
        SELECT
            count(0)
        FROM
            SYS_PERMISSION
        WHERE
            PERM_CODE = #{permCode}
    </select>
</mapper>
