<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.ArticleDao">

    <insert id="addArticle" parameterType="com.alibaba.fastjson.JSONObject">
        INSERT INTO article
            (title)
        VALUES (#{title})
    </insert>

    <select id="countArticle" resultType="Integer">
        SELECT count(0)
        FROM article w
        WHERE w.delete_status = '1'
    </select>

    <select id="listArticle" resultType="com.alibaba.fastjson.JSONObject">
        SELECT w.id,
               w.title,
               date_format(w.create_time, '%Y.%m.%d %T') createTime,
               date_format(w.update_time, '%Y.%m.%d %T') updateTime
        FROM article w
        WHERE w.delete_status = '1'
        ORDER BY w.id DESC
        LIMIT #{offSet}, #{pageRow}
    </select>

    <!-- 根据id查询文章 -->
    <select id="getArticleById" resultType="com.alibaba.fastjson.JSONObject">
        SELECT PK_ID, ARTICLE_ID, CONTENT, CRAFT, CREATE_TS, T2.TITLE
        FROM ARTICLE_CONTENT T1
        LEFT JOIN ARTICLE T2 ON T1.ARTICLE_ID = T2.ID
        WHERE ARTICLE_ID = #{articleId}
        AND CRAFT = #{craft}
    </select>

    <update id="updateArticle" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE article
        SET title = #{title}
        WHERE id = #{articleId}
    </update>

</mapper>
